In [10]:
import pandas as pd
import numpy as np

from src.problem import Problem

In [13]:
p = Problem("mlr_rf")

In [15]:
# Number of datasets
p.data.task_id.nunique()

119

In [59]:
# Create latexable dataframe
df = p.metadata.apply([min, np.median, max], axis=0).transpose()
# Add explanation
df["explanation"] = ["N. classes", "N. observations", "N. features original", "N. features one-hot", "N. categorical / p", "Majority Class %", "Median Kernel Distance", "Avg. feature variance"]
df["symbol"] = df.index
# Reorder
df = df.iloc[[1,2,3,0,4,5,6,7], [4, 3,0,1,2]]
df = df.reset_index(drop=True)
df

  symbol             explanation         min       median            max
0      n         N. observations  100.000000  4147.000000  130064.000000
1     po    N. features original    4.000000    36.000000   10000.000000
2      p     N. features one-hot    4.000000    54.000000   71673.000000
3      m              N. classes    2.000000     2.000000     100.000000
4     rc       N. categorical/ p   -0.306122     0.000000       1.000000
5    mcp        Majority Class %    0.010006     0.518809       0.998385
6    mkd  Median Kernel Distance    0.000048     0.012764       0.549148
7   xvar   Avg. feature variance    0.000172     1.000000       1.000002

In [60]:
print(df.to_latex(index=False, float_format="%.2f"))

\begin{tabular}{llrrr}
\toprule
symbol &             explanation &    min &  median &       max \\
\midrule
     n &         N. observations & 100.00 & 4147.00 & 130064.00 \\
    po &    N. features original &   4.00 &   36.00 &  10000.00 \\
     p &     N. features one-hot &   4.00 &   54.00 &  71673.00 \\
     m &              N. classes &   2.00 &    2.00 &    100.00 \\
    rc &       N. categorical/ p &  -0.31 &    0.00 &      1.00 \\
   mcp &        Majority Class \% &   0.01 &    0.52 &      1.00 \\
   mkd &  Median Kernel Distance &   0.00 &    0.01 &      0.55 \\
  xvar &   Avg. feature variance &   0.00 &    1.00 &      1.00 \\
\bottomrule
\end{tabular}